@page "/settings"

@inject HttpClient Client

@using Blazor.Markdown.Shared.Model

<div class="app-page">
    <div class="mb-3">
        <div class="heading-text mb-3">Database Operations</div>
        <p class="card-text">Drops and recreates the database. All registration files will be run again.</p>
        <button type="button" class="btn btn-outline-danger">Reinitialize</button>
    </div>
    <div class="heading-text mb-3">Permissions</div>
    <div class="table-responsive">
        <table class="table mb-0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Key</th>
                    <th>Date Added</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (RoleModel roleModel in this.RoleModels)
                {
                    <tr>
                        <td>@roleModel.Name</td>
                        <td>@roleModel.Key</td>
                        <td>@roleModel.DateAdded</td>
                        <td>
                            <a class="text-primary cursor-pointer" @onclick="() => { this.SelectedRole = roleModel; }" data-bs-toggle="modal" data-bs-target="#exampleModal">Actions</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">@this.SelectedRole.Name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <div class="list-group list-group-flush">
                    @foreach (ActionModel actionModel in this.SelectedRole.Actions)
                    {
                        <label class="list-group-item">
                            <input class="form-check-input me-1" type="checkbox" value="">
                            @actionModel.Name
                        </label>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    public RoleModel SelectedRole = new RoleModel();

    public List<RoleModel> RoleModels = new List<RoleModel>();

    protected override async Task OnInitializedAsync()
    {
        this.RoleModels = await this.Client.GetFromJsonAsync<List<RoleModel>>("api/role/list");
    }
}
