@page "/users"

@using Blazor.Markdown.Shared.Model.Options

@inject HttpClient Client

<div class="app-page">
    <h3>Users</h3>

    <div class="mb-3">
        <label for="txtAction" class="form-label">Action</label>
        <input type="text" class="form-control form-control-sm" id="txtAction" @bind-value="this.QueryOptions.Action" />
    </div>

    <div class="mb-3">
        <button type="button" class="btn btn-primary btn-sm" @onclick="this.QueryUsers">Search</button>
    </div>

    <div class="table-responsive">
        <table class="table m-0">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Lanuage</th>
                    <th>IP Address</th>
                    <th>Date Added</th>
                    <th>Date Last Updated</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Blazor.Markdown.Shared.Model.UserModel existingUser in this.ExistingUsers)
                {
                    <tr>
                        <td>@existingUser.Name</td>
                        <td>@existingUser.Email</td>
                        <td>@existingUser.Address</td>
                        <td>@existingUser.Language</td>
                        <td>@existingUser.IPAddress</td>
                        <td>@existingUser.DateAdded</td>
                        <td>@existingUser.DateLastUpdated</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    public UserQueryOptions QueryOptions = new UserQueryOptions();

    public List<Blazor.Markdown.Shared.Model.UserModel> ExistingUsers = new List<Blazor.Markdown.Shared.Model.UserModel>();

    protected override async Task OnInitializedAsync()
    {
        await this.QueryUsers();
    }

    protected async Task QueryUsers()
    {
        HttpResponseMessage _response = await this.Client.PostAsJsonAsync<UserQueryOptions>("api/user/list", this.QueryOptions);
        this.ExistingUsers = await _response.Content.ReadFromJsonAsync<List<Blazor.Markdown.Shared.Model.UserModel>>();
    }

    protected async Task RemoveAction(Guid userId, Guid actionId)
    {
        UserActionRemovalOptions _removalOptions = new UserActionRemovalOptions()
        {
            UserId = userId,
            ActionId = actionId
        };

        await this.Client.PostAsJsonAsync<UserActionRemovalOptions>("api/action/user/remove", _removalOptions);
    }
}
